@media only screen and (min-width: 920px) {
  body {
    font-family: "Libre Baskerville", "Inter";
    background-color: rgb(255, 255, 255);
    margin: 5.5em;
    height: 300em;
  }
  .menu {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.995);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0% 5% 0% 5%;
    width: 90%;
    height: 13vh;
  }
  .primary-cta {
    background-color: #3405E1;
    background-blend-mode: color-burn;
    font-size: 0.9rem;
    font-weight: normal;
    color: white;
    text-decoration: none;
    border-radius: 1em;
    padding: 0.6em 1.6em 0.6em 1.6em;
    font-family: "Inter";
    margin: 2em 1.2em;
    width: 5.5em;
  }
  .primary-cta:hover {
    background-color: #5781ff;
    color: #000000;
    text-decoration: none;
  }
  ul {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    gap: 10em;
    list-style: none;
  }
  ul .navb {
    display: flex;
    justify-content: space-between;
    gap: 2em;
  }
  ul .navb a {
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-family: "Inter";
    font-size: 0.9rem;
  }
  ul .navb a:hover {
    -webkit-text-decoration: #dce2fe;
            text-decoration: #dce2fe;
    text-decoration-line: underline;
    text-decoration-thickness: 0.14em;
  }
  ul .active {
    font-size: 0.8em;
  }
  .white-logo {
    display: none;
  }
  .heroimg {
    background-image: url(/images/herobackground.jpg);
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    width: 78.9em;
    z-index: -1;
    background-size: contain;
    background-position-x: 20%;
    background-position-y: 20%;
    height: 50em;
  }
  section.heroimg .mobilehero-img {
    display: none;
  }
  section.hero {
    text-align: center;
    color: rgb(255, 255, 255);
    height: 76vh;
    margin-top: 10em;
    width: 100%;
  }
  section.hero .H1 {
    margin-left: 9em;
    margin-right: 9em;
    margin-top: 0.5em;
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 0.2em;
  }
  section.hero .sub-head {
    margin-left: 12em;
    margin-right: 12em;
    margin-bottom: 3em;
    font-size: 0.8em;
    line-height: 1.3em;
    color: #ececec;
  }
  section.hero .heroimageweb {
    margin-top: 0;
  }
  section.popular {
    background-color: #ffffff;
    position: absolute;
    top: 46em;
    left: 0%;
    right: 0%;
    width: 78.9em;
    background-size: contain;
    background-position-x: 20%;
    background-position-y: 20%;
    height: 60em;
  }
  section.popular .content {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
  }
  section.popular .content .category .popularmobile {
    display: none;
  }
  section.popular .content .category .popularweb {
    display: contents;
    font-size: 1em;
    font-weight: 600;
    line-height: 0.8em;
  }
  section.popular .content .category .text {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 0.4em;
    color: #565656;
    margin-top: 1.4em;
    margin-bottom: 2.5em;
  }
  section.popular .content .more {
    display: none;
  }
  section.popular .content .moreweb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0em;
    text-decoration: none;
  }
  section.popular .content .moreweb .wrap {
    text-decoration: none;
    margin-left: 12em;
  }
  section.popular .content .moreweb .view-more {
    font-size: 0.8em;
    color: #3405E1;
  }
  section.popular .populardemand {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  section.popular .populardemand .try {
    background-color: #f1f1f1;
    border-radius: 12em;
    padding: 1em 0.8em 1em 0.8em;
    margin: 0em 0em;
    width: 12em;
  }
  section.popular .populardemand .try .trytry {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  section.popular .populardemand .try .trytry .left {
    background-color: #ffffff;
    border-radius: 12em;
    padding: 0.6em 0.6em 0.6em 0.6em;
  }
  section.popular .populardemand .try .trytry .right {
    font-size: 0.85em;
  }
  section.popular .componentsmobile {
    display: none;
  }
  section.popular .componentsweb {
    display: contents;
    margin-top: 1.4em;
  }
  section.meet-sitio .content {
    margin-top: 10em;
  }
  section.meet-sitio .content .title-H {
    font-size: 1.8em;
    font-weight: bolder;
    margin-bottom: 0;
  }
  section.meet-sitio .content .title {
    font-size: 0.9em;
    margin-right: 9em;
    line-height: 1.4em;
  }
  section.meet-sitio .more-content {
    display: flex;
    justify-content: space-between;
  }
  section.meet-sitio .more-content .left-content {
    background-color: #A9D1F9;
    border-radius: 0.8em;
    padding: 1.2em 4.2em 0em 4.2em;
    width: 28em;
    margin-top: 2em;
    height: 29em;
  }
  section.meet-sitio .more-content .left-content .h1 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
  }
  section.meet-sitio .more-content .right-content {
    margin: 2em;
  }
  section.meet-sitio .more-content .right-content .card1 {
    background-color: DEAFF9;
    width: 25em;
    padding: 1.2em 2em 1.2em 2em;
    border-radius: 0.8em;
    height: 12em;
  }
  section.meet-sitio .more-content .right-content .card1 .maint {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  section.meet-sitio .more-content .right-content .card1 .body {
    font-size: 1em;
    color: rgb(54, 53, 53);
  }
  section.meet-sitio .more-content .right-content .card1 .cta-btns {
    margin: 2em 0em;
  }
  section.meet-sitio .more-content .right-content .card1 .cta-btns .primary-cta {
    display: flex;
    gap: 0.6em;
    background-color: A03CF1;
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2em;
    padding: 1em 2.4em 1em 2.4em;
    font-family: "Inter";
    width: 8em;
    margin-left: 0em;
  }
  section.meet-sitio .more-content .right-content .card2 {
    margin-top: 1.6em;
    background-color: FBF540;
    width: 25em;
    padding: 1.2em 2em 1.2em 2em;
    border-radius: 0.8em;
    height: 12em;
  }
  section.meet-sitio .more-content .right-content .card2 .maint {
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-bottom: 0em;
  }
  section.meet-sitio .more-content .right-content .card2 .body {
    margin-top: 0.6em;
    font-size: 1em;
    color: rgb(54, 53, 53);
  }
  section.meet-sitio .more-content .right-content .card2 .cta-btns {
    margin: 2em 0em;
  }
  section.meet-sitio .more-content .right-content .card2 .cta-btns .primary-cta {
    display: flex;
    gap: 0.6em;
    background-color: #000000;
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2em;
    padding: 1em 2.4em 1em 2.4em;
    font-family: "Inter";
    width: 8em;
    margin-left: 0em;
  }
}/*# sourceMappingURL=main.css.map */